.trends-block {
  width: 348px;
  margin-bottom: 15px;
  background-color: rgb(246, 249, 250);
  border: 1px solid rgb(247, 249, 250);
  border-bottom: none;
  border-radius: 16px;
  &-header {
    padding: 3px 5px 3px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom: 1px solid rgb(235, 238, 240);
    &__text {
      font-size: 19px;
      font-weight: 800;
      line-height: 25px;
      color: rgb(15, 20, 25);
    }
  }
  &-settings {
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: 9999px;
    transition-duration: 0.2s;
    transition-property: background-color;
    cursor: pointer;
    &:hover {
      background-color: rgba(29, 161, 242, 0.2);
    }
    &__icon {
      width: 19.5px;
      height: 19.5px;
      color: rgb(29, 161, 242);
    }
  }
  &__link {
    text-decoration: none;
  }
}

@media screen and (max-width: 1077px) {
  .trends-block {
    width: 288px;
  }
}
