.connect-person {
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  transition-duration: 0.2s;
  transition-property: background-color, box-shadow;
  border-bottom: 1px solid rgb(235, 238, 240);
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.07);
    box-shadow: rgb(0 0 0 / 8%) 0px 8px 28px;
  }
  &-wrapper {
    display: flex;
  }
  &-avatar {
    margin-right: 12px;
  }
  &-desc {
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    color: rgb(15, 20, 25);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }
  &__fullName {
    font-weight: 700;
    &:hover {
      text-decoration: underline;
    }
  }
  &__username {
    color: rgb(91, 112, 131);
  }
  &__bio {
    padding-top: 4px;
  }
  &-button {
    display: flex;
  }
}
